.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.surveyTitle {
  font-weight: 600;
  padding: 8px;
  text-align: center;
}

.pageTitle {
  margin: 0 0 20px 0;
  color: var(--text-purple-color);
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.validationMessage {
  color: var(--orange-color);
  font-size: 20px;
  margin-bottom: 12px;
}

.optionWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin: 0 auto 20px;
}

.option {
  display: flex;
  margin-bottom: 20px;
  gap: 80px;
  align-items: flex-start;
}

.optionInputWrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 12px;
}

.image {
  width: 25%;
  height: auto;
  min-height: 100px;
  max-height: 200px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

input[type='radio'] {
  display: none;
}

.typeWrapper {
  display: flex;
  gap: 20px;
}

.typeCard {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  font-size: 1rem;
  color: var(--text-purple-color);
  padding: 0 20px;
  border-radius: 15px;
  border: 1px solid var(--bc-pale-gray);
}

.typeDescription {
  font-weight: 400;
  font-size: 0.8em;
}

input[type='radio']:checked + label {
  border: 2px solid var(--checked-green-color);
}

input[type='file'],
input[type='checkbox'] + label {
  cursor: pointer;
}

.allowExtraOption {
  margin: 20px 0;
}

.buttonImageDelete {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--text-purple-color);
  border-radius: 0;
  width: fit-content;
  height: auto;
  min-height: unset;
  padding: 4px;
  background-color: var(--text-white-color);
}

.hidden {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.message {
  text-align: center;
  font-size: 12px;
  margin: 40px 0 0 40px;
}

.errorMessage {
  text-align: center;
  font-size: 40px;
  margin: 40px 0 0 40px;
}

.messageImage {
  text-align: center;
}

button {
  width: fit-content;
}

.link {
  color: var(--orange-color);
}

.link:hover,
.linkError:hover {
  color: var(--text-purple-color);
}

.surveyImage {
  margin: 0 0 0 20px;
}

.surveyImage img {
  width: 200px;
}

.activeLinkWrapper {
  position: relative;
}

.buttonClear {
  position: absolute;
  top: calc(1rem - 12px);
  right: -30px;
  color: var(--text-purple-color);
  border-radius: 0;
  width: fit-content;
  height: auto;
  min-height: unset;
  padding: 4px;
  background-color: var(--text-white-color);
}

.field {
  font-size: 1rem;
  color: var(--text-purple-color);
  height: 2rem;
  padding: 0 20px;
  border-radius: 15px;
  border: 1px solid var(--bc-pale-gray);
  width: 100%;
}

.text {
  color: var(--text-purple-color);
}
.messageWrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.surveyLink {
  font-size: 20px;
  margin: 40px 0;
  text-align: left;
}

.successMessage {
  text-align: left;
  font-size: 40px;
}
