.card {
  display: flex;
  border: 1px solid grey;
  padding: 12px;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  gap: 12px;
}

.image {
  width: 30%;
  height: auto;
  min-height: 100px;
  max-height: 200px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

.link {
  color: rgb(255, 175, 56);
}

.link:hover,
.linkError:hover {
  color: rgb(74, 67, 121);
}

input[type='radio']:disabled + label {
  cursor: initial;
  border: 1px dotted grey;
}

input[type='radio'] + label {
  transition: all 0.5s ease;
}

.checked {
  border: 2px solid green;
}

.message {
  text-align: center;
  font-size: 20px;
}

input[type='radio']:hover:not([disabled]) + label {
  border: 2px solid rgb(74, 67, 121);
}
