.accordionItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.accordionTitle {
    width: 100%;
}

.accordionTitle h4 {
    font-weight: 400;
    font-size: 1.2rem;
    width: max-content;
    position: relative;
}

.accordionTitle span {
    color: var(--arrow-pale-gray);
    font-weight: 600;
    position: absolute;
    top: 0;
    right: -20px;
    cursor: pointer;
}

.accordionTitle span:hover {
    color: var(--button-purple-color);
}

/* .accordionTitle i:hover {
    color: black;   
} */

/* .iconActive, .titleNotActive {
    color: black;
} */

/* .iconNotActive {
    color: var(--arrow-pale-gray);
}

.titleActive {
    color: var(--text-purple-color);
} */

.accordionContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.containerVideo {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.containerVideo video {
    max-width: 360px;
    border-radius: 15px;
    border: 2px solid var(--bc-pale-gray);
}

.containerText {
    display: flex;
    flex-direction: column;
    gap: 5px;
}