.visitedSurveys {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.listSurveys {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 15px));
    gap: 30px;
}

@media (max-width: 730px) {
    .listSurveys {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
}