.invitationPage {
  min-height: calc(100vh - 280px);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 1rem;
}

.pageTitle {
  margin: 0 0 20px 0;
  color: var(--text-purple-color);
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.usersWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin: 0 auto 20px;
}

.user {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin-bottom: 20px;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.field {
  font-size: 1rem;
  color: var(--text-purple-color);
  height: 2rem;
  padding: 0 20px;
  border-radius: 15px;
  border: 1px solid var(--bc-pale-gray);
  width: 100%;
}

.buttonClear {
  position: absolute;
  top: calc(1rem - 12px);
  right: -20px;
  color: var(--text-purple-color);
  border-radius: 0;
  width: fit-content;
  height: auto;
  min-height: unset;
  padding: 4px;
  background-color: var(--text-white-color);
}

.validationMessage {
  color: var(--danger-text-color);
  font-size: 16px;
  grid-column: 3;
  text-align: center;
}

.inputWrapper {
  display: flex;
  width: 90%;
  position: relative;
}

.errorMessage {
  text-align: center;
  font-size: 32px;
  margin: 0 0 40px 0;
}

.userInputWrapper {
  display: flex;
  grid-column: 1;
}

.buttonDelete {
  grid-column: 2;
  display: flex;
  justify-content: center;
}

.successMessage {
  text-align: left;
  font-size: 28px;
}
