.profilePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profilePage h1 {
  margin-bottom: 40px;
}

.card {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 40px;
}

.photoWrapper {
  position: relative;

}

.photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin: 0 auto;
}

.photo img {
  object-fit: contain;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
}

.nameWrapper {
  display: flex;
}

.infoWrapper div {
  font-size: 20px;
}

.nameWrapper button {
  margin: 0 20px;
  padding: 8px;
  font-size: 12px;
  line-height: 12px;
  min-height: unset;
  border-radius: 8px;
}

.photoWrapper button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 20px;
  padding: 8px;
  font-size: 12px;
  line-height: 12px;
  min-height: unset;
  border-radius: 8px;
}

.button {
  margin-top: 40px;
}

.listSurveys {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 15px));;
  gap: 30px;
  margin-top: 30px;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.message {
  text-align: center;
  font-size: 20px;
}

@media (max-width: 730px) {
  .listSurveys {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
  }
  .button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonsWrapper {
  flex-direction: column;
}

.card {
  flex-direction: column;
}
}