.surveyItem {
    min-height: 100px;
    height: calc(100% - 40px);
    background-color: var(--bc-pale-gray);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    cursor: pointer;
}

.surveyItem:hover {
    background: var(--bc-gradient);
}

.surveyItem h5 {
    font-weight: 500;
    font-size: 20px;
}

.containerTop {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerSubinfo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 50px;
}

.containerSubinfo span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.isDone {
    color: var(--checked-green-color)
}

.isNoDone {
    color: var(--danger-text-color)
}

.spanDelete {
    cursor: pointer;
}

.spanDelete:hover {
    text-decoration: underline var(--orange-color);
    text-underline-position: under;
}

.containerBottom {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.containerBottom img {
    width: 30px;
    height: 30px;
}