@import url("../../../variables.css");

.button {
    background-color: var(--button-purple-color);
    color: var(--text-white-color);
}

.button:hover:not([disabled]) {
    box-shadow: 2px 2px var(--box-shadow-color);
}

.button:disabled {
    cursor: initial;
    background-color: var(--button-disabled-purple-color);
}
